/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {   
    text-align: center;
    background-color: rgb(0, 4, 17, .8);
    padding: 1.5rem;
}

h1 a {  
    font-size: 6rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

h2 {
    font-size: 6rem;
    color: white;
}

h3 {
    font-size: 5rem;
    color: white;
}

p, a {
    font-size: 2.5rem;
    color: white;
}

/* header section */
header {
    width: 100%;
    height: 91vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .shortcut-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

header .social-media ul {
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
    height: 8vh;
}

header i {
    color: white;
    scale: 3;
    margin: 1rem;
}

/* spacer */
.spacer {
    width: 100%;
    height: 18vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 9vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu h2, h3, h4, p {
    color: white;
}

.menu h2 {
    text-align: center;
    padding-top: 10vh;
    font-size: 4.5rem;
    font-weight: bold;
    background-color: rgb(0, 4, 17, .8);
}

.menu h3 {
    font-size: 4rem;
}

.menu h4 {
    font-size: 3rem;
    padding-right: 4vw;
}

.menu p {
    font-size: 2rem;
    font-weight: lighter;
    width: 70%;
}

.menu-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-section {
    width: 50%;
    background-color: rgb(0, 4, 17, .8);
    padding: 3vw 7vw;
}

.menu-section-margin {
    width: 25%;
    background-color: rgb(0, 4, 17, .8);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5vh 0;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    border-top: 2px solid rgb(29 31 43);
}

footer .shortcut {
    display: flex;
    justify-content: space-evenly;
}

footer .shortcut-bar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 10rem;
}

footer .email-signup a {
    font-size: 3rem;
}

footer .email-signup .mail {
    display: flex;
    justify-content: center;
    scale: 1.8;
}

footer .email-signup .mail input {
    flex-grow: 2;
}

footer .email-signup .mail button {
    flex-grow: 1;
}


.copyright {
    font-size: 2rem;
    background-color: rgb(0, 4, 17);
    color: white;
    text-align: right;
    padding-top: 1vw;
    padding-right: 12vw;
}

html, body{
    width:100%;
    overflow-x:hidden;
    }

/* mobile media query */
@media (max-width: 428px) {

    header {
        width: 100%;
        height: 80vh;
    }

    html, body{
        width:100%;
        overflow-x:hidden;
        }

    /* header section */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 3.5rem;
        display: block;
        font-weight: lighter;
        color: rgb(225, 239, 230);
    }

    header .shortcut-bar ul {
        flex-direction: column;
    }

    header .shortcut-bar a {
        color: rgb(225, 239, 230);
    }


    header .social-media ul {
        color: rgb(225, 239, 230);
    }

    header i {
        color: rgb(225, 239, 230);
    }


    /* menu */
    .menu {
        background-image: none;
    }

    .menu h2 {
        background-color: rgb(225, 239, 230);
        color: rgb(0, 4, 17);
        font-size: 6rem;
        font-weight: light;
    }

    .menu-section {
        width: auto;
        background-color: rgb(225, 239, 230);
        margin: 15%;
    }

    .menu-item {
        flex-direction: column;
    }

    .menu-section-container {
        background-color: rgb(225, 239, 230);
    }

    .menu-section h3 {
        font-size: 5rem;
        color: rgb(0, 4, 17);
        text-align: center;
        border: 0.5rem solid rgb(0, 4, 17);
    }

    .menu-item h4 {
        color: rgb(0, 4, 17);
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 4rem;
    }

    .menu-item p {
        color: rgb(0, 4, 17);
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 3rem;
    }

    .line {
        height: 0.5rem;
        background-color: rgb(0, 4, 17);
        margin-top: 2rem;
      }


    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }
}
